html, body {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    padding-top: 110px;
    padding-left: 90px;
}

.auto {
    background-image: url(../img/fon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.pluses {
    padding-left: 110px;
}


.pluses p {
    display: inline;
    font-size: 24px;
    color: #ffffff;
    padding-left: 20px;
    line-height: 50px;
    background-image: url(../img/list.svg);

}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
        padding-left: 50px;
    }
    .pluses {
        padding-left: 90px;
}
    .pluses p {
        font-size: 14px;
}

