/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body {
    height: 100%;
    width: 100%;

}
body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 59px;
}
.auto {
    /*background-image: url(../img/fon1.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 0 auto;
    /* background-color: rgb(55, 88, 235); */
    background-image: url(../img/auto.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 188px;
}

.auto h1 {
    padding-bottom: 43px;
}

.autom img{
    height: 100%;
}

.plus:not(:last-child) {
    margin-bottom: 20px;
}
.plus {
    display: flex;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3) ;
    border-radius: 15px 15px 15px 0;
    width: fit-content;
    padding: 16px 24px; 
}

.plus p {
    font-size: 24px;
    line-height: 29px;
    padding-left: 24px;
}
.points {
    display: block;
    width: 100%;
    padding: 50px 0;
    padding-bottom: 119px;
    
}
.pic {
    display: flex;
    height: 600px;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 48px;
    text-align: center;
    padding-bottom: 60px;
}

/* img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    } */

.text2 {
    padding-left: 200px;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-around;
}
.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 30px 20px 20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.31));
    width: 211px;
    min-height: 256px;
}
.flex-item img {
    display: block;
    margin: 0 auto;
    padding-bottom: 8px;
}
.flex-item p {
    text-align: center;
}
h3 {
    font-size: 18px;

}
.content {
    background-image: url(../img/prew.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 118px 0;
}

.woman {
    display: flex;
    justify-content: center;
    align-items: center;
}

.woman img {
    min-width: 350px;
}

h4 {
    color: #ffffff;
    font-size: 48px;
    padding-bottom: 50px;

}
.steps {
    display: flex;
    flex-direction: column;
}
.step:not(:last-child) {
    margin-bottom: 10px;
}
.step {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 6px;
    width: fit-content;
}
.steps p {
    color: #ffffff;
    font-size: 18px;
    
    line-height: 30px;
}
.span-item {
    color: #5986F7;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 24px;
    padding: 0px 9px;
    margin-right: 10px;
    font-weight: bold;
    display: inline-table;
}

.call {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    margin-left: -8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.call h3 {
    font-size: 18px;
    font-weight: normal;

}
.call p {
    color: #5972F3;
    font-size: 32px;
    margin-top: -1px;
}
.call button {
    background-color: #EE8D6D;
    border: none;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: rgb(255, 255, 255);
    width: 164px;
    height: 43px;
    left: 1109px;
    top: 2013px;
    border-radius: 15px;   
}
.doc {
    width: 100%;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.31); */
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 110px 0 236px;
}
.doc-item {
    background-color: rgba(192,192,192, 0.3);
    border-radius: 25.5px;
    width: fit-content;
    padding: 15px 24px 15px 3px;
}
.doc-item2 {
    background-color: rgba(255, 92, 92, 0.1);;
    border-radius: 25.5px;
    width: fit-content;
    color: #FF5C5C;
    padding: 15px 24px 15px 3px;
    margin-top: 50px;
}
.doc-item:not(:last-child) {
    margin-bottom: 20px;
}
.docs p {
    font-size: 18px;
    line-height: 22px;
}
.doc h1 {
    color: black;
    padding-bottom: 50px;
}
.docs-img {
    float: right;
    display: flex;
    align-items: center;
    padding-top: 47px;
}
.span {
    color: white;
    background-color: #5986F7;
    border-radius: 50%;
    font-size: 24px;
    padding: 3px 9px;
    margin-right: 10px;
}
.span2 {
    color: white;
    background-color: #FF5C5C;
    border-radius: 50%;
    font-size: 24px;
    padding: 3px 9px;
    margin-right: 10px;
}
.we {
    display: block;
    background-image: url(../img/prew.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

}
.about p {
    color: white;
}
.about h1 {
    padding-bottom: 20px;
}
.span3 {
    color: white;
}
.stat {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.stat h3 {
    font-weight: normal;
    
}
.stat-item {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.31));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 211px;
    min-height: 256px;
}
.round {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 0 auto;
}
.round img{
    height: 100%;
    max-width: 28px;
    vertical-align: middle;
    margin: 0 auto;
}
.round-pink {
    background: rgba(255, 151, 117, 0.3);;
}
.round-green {
    background: rgba(141, 208, 112, 0.3);
}
.round-blue {
    background: rgba(89, 134, 247, 0.3);;
}
.round-yellow {
    background: rgba(255, 203, 18, 0.3);;
}
.round-darkblue {
    background: rgba(18, 227, 255, 0.3);
}
.calling {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.31);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.calling h3 {
    font-size: 18px;
    font-weight: normal;

}
.calling p {
    color: #5972F3;
    font-size: 32px;
    margin-top: -1px;

}
.calling button {
    background-color: #EE8D6D;
    border: none;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: white;
    width: 164px;
    height: 43px;
    left: 1109px;
    top: 2013px;
    border-radius: 15px;   
}
.reviews {
    height: 600px;
    width: 100%;
    margin-left: -8px;
    padding: 70px 0;

}
.reviews h1 {
    color: black;
    font-size: 48px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.box-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback {
    font-size: 18px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}
.city {
    font-size: 18px;
    color: #B2B2B2;
}
.names {
    margin-right: 62px;
}
.one {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.31);
    border-radius: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    width: 1112px;
    min-height: 92px;
}
.one img {
    width: 62px;
    height: 62px;
    margin-right: 20px;
    margin-left: 20px;
}
.one:not(:last-child) {
    margin-bottom: 20px;
}
.contacts {
    display: flex;
    background-image: url(../img/prew.png);

}
.contact {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    max-width: 650px;
    padding-top: 182px;
    padding-bottom: 182px;
}
.contacts h1 {
    color: white;
    padding-bottom: 24px;
}
.contacts p {
    color: white;
    position: relative;
}
.contacts p:not(:last-child) {
    margin-bottom: 22px;
}
.nomber {
    font-size: 36px;
}
.adres {
    font-size: 36px;
}

.time {
    font-size: 18px;
}

.mail {
    font-size: 36px;
}
.maps {
    padding-right: 120px;
    padding-top: 144px;
}
.footer {
    background-image: url(../img/fon.png);
}
.footer h1 {
    font-size: 18px;
    color: #ffffff;
}
.footer p {
    font-size: 18px;
    color: #ffffff;
}
.doc1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 750px;
}
.foot {
    padding-top: 40px;
    font-size: 14px;
}
/*.friend {
    display: flex;
}

/*@media (max-width: 600px) {
h1 {
        font-size: 28px;
        padding-left: 50px;
    }
.pluses {
        padding-left: 90px;
}
.pluses p {
        font-size: 14px;
}
.text2 {
    width: 524px;
    padding-left: 5%;
}
.points {
    height: 850px;
}
.grid-item {
    margin: 20px;
}
h2 {
    font-size: 32px;
    text-align: center;
}*/
@media (max-width: 380px) {
h1 {
    font-size: 32px;
    text-align: center;
}
.auto {
    height: 550px;
}
h2 {
    font-size: 32px;
}
.points {
    height: 1100px;
}
.grid {
    display: inline-block;
    padding-left: 40%;
}
.text2 {
    padding-left: 200px;
    padding-top: 30px;
}
.grid-item {
    margin: 20px;

}
h4 {
    font-size: 32px;
    padding-left: 30%;
}
.steps {
    padding-top: 250px;
    padding-left: 20%;
}