/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body {
    height: 100%;
    width: 100%;

}
body {
    font-family: 'Montserrat', sans-serif;
}
.big-container {
    max-width: 2000px;
    margin: 0 auto;
}
h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
.auto {
    /*background-image: url(../img/fon1.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 0 auto;
    background-color: rgb(55, 88, 235);
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 100px;
}
.text {
    display: flex;
    flex-direction: column;
}
.autom {
    display: flex;
}
.plus:not(:last-child) {
    margin-bottom: 20px;
}
.text p {
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3) ;
    border-radius: 15px 0px;    
}
.text h1 {
    padding-bottom: 20px;

}
.plus {
    display: flex;
}
.points {
    display: block;
    height: 400px;
    width: 100%;
    padding-top: 50px;
}
.pic {
    display: flex;
    height: 600px;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 48px;
    text-align: center;
    padding-bottom: 50px;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    }

.text2 {
    padding-left: 200px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-around;
}
.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.31));
    width: 150px;
}
.flex-item img {
    display: block;
    margin: 0 auto;
    padding-bottom: 8px;
}
.flex-item p {
    text-align: center;
}
h3 {
    font-size: 18px;

}
.content {
    background-color: rgb(23, 75, 218);
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

.woman {
    display: flex;
}

h4 {
    color: #ffffff;
    font-size: 48px;
    padding-bottom: 30px;

}
.steps {
    display: flex;
    flex-direction: column;
}
.step:not(:last-child) {
    margin-bottom: 10px;
}
.step {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 10px;
}
.steps p {
    color: #ffffff;
    font-size: 18px;
    
    line-height: 30px;
}
.span-item {
    color: #5986F7;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 12px 9px;
    font-size: 24px;
    margin-right: 4px;
}

.call {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    margin-left: -8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.call h3 {
    font-size: 18px;
    font-weight: normal;

}
.call p {
    color: #5972F3;
    font-size: 32px;
    margin-top: -1px;
}
.call button {
    background-color: #EE8D6D;
    border: none;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: rgb(255, 255, 255);
    width: 164px;
    height: 43px;
    left: 1109px;
    top: 2013px;
    border-radius: 15px;   
}
.doc {
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.31);
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
.docs {
    position: relative;
}
.doc-item {
    background-color: rgba(192,192,192, 0.3);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
}
.doc-item:not(:last-child) {
    margin-bottom: 10px;
}
.docs p {
    font-size: 18px;
}
.doc h1 {
    color: black;
    padding-bottom: 20px;
}
.docs-img {
    float: right;
    display: flex;
    align-items: center;
}
.span {
    color: white;
    background-color: #5986F7;
    border-radius: 50%;
    padding: 3px;
    font-size: 24px;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 3px;
}
.we {
    height: 550px;
    background-color: #5986F7;
    display: block;
    display: block;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about p {
    color: white;
}
.about h1 {
    padding-bottom: 20px;
}
.span2 {
    color: white;
}
.stat {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.stat h3 {
    font-weight: normal;
    
}
.stat-item {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.31));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
}
.round {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0 auto;
}
.round img{
    height: 100%;
    max-width: 28px;
    vertical-align: middle;
}
.round-pink {
    background: #FF9775;
}
.round-green {
    background: #8DD070;
}
.round-blue {
    background: #5986F7;
}
.round-yellow {
    background: #FFCB12;
}
.round-darkblue {
    background: #12E3FF;
}
.calling {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.31);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.calling h3 {
    font-size: 18px;
    font-weight: normal;

}
.calling p {
    color: #5972F3;
    font-size: 32px;
    margin-top: -1px;

}
.calling button {
    background-color: #EE8D6D;
    border: none;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: white;
    width: 164px;
    height: 43px;
    left: 1109px;
    top: 2013px;
    border-radius: 15px;   
}
.reviews {
    height: 600px;
    width: 100%;
    margin-left: -8px;

}
.reviews h1 {
    color: black;
    font-size: 48px;
    display: flex;
    justify-content: center;
}
.box-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback {
    font-size: 18px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}
.city {
    font-size: 18px;
    color: #B2B2B2;
}
.one {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.31);
    border-radius: 10px;
    width: 80%;
    margin: 20px;
}
.one img {
    width: 62px;
    height: 62px;
}
.contacts {
    width: 100%;
    height: 700px;
}
.contacts h1 {
    color: white;
    position: absolute;
    padding-top: 70px;
    padding-left: 30px;
}
.contacts p {
    color: white;
    position: relative;
}
.contacts img {
    position: absolute;
}
.contacts a {
    color: violet;
}

/*@media (max-width: 600px) {
h1 {
        font-size: 28px;
        padding-left: 50px;
    }
.pluses {
        padding-left: 90px;
}
.pluses p {
        font-size: 14px;
}
.text2 {
    width: 524px;
    padding-left: 5%;
}
.points {
    height: 850px;
}
.grid-item {
    margin: 20px;
}
h2 {
    font-size: 32px;
    text-align: center;
}*/
@media (max-width: 380px) {
h1 {
    font-size: 32px;
    text-align: center;
}
.auto {
    height: 550px;
}
h2 {
    font-size: 32px;
}
.points {
    height: 1100px;
}
.grid {
    display: inline-block;
    padding-left: 40%;
}
.text2 {
    padding-left: 200px;
    padding-top: 30px;
}
.grid-item {
    margin: 20px;

}
h4 {
    font-size: 32px;
    padding-left: 30%;
}
.steps {
    padding-top: 250px;
    padding-left: 20%;
}